<div class="loading-container" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!isLoading">

<app-header [userImage]="userProfileImg"/>
<div class="container mt-5">
  <i class="fa-solid fa-backward" [routerLink]="['/home']" (click)="toggleTrailer()">
    <p *ngIf="showTrailer">back to home</p>
  </i>
  <h2 class="mb-4">Movie Details</h2>
  <div class="row ">
      <div class="col-md-3">
          <img [src]=" movei?.poster_path |img" alt="" class="poster col-12  image-fluid"/>

        </div>
      <div class="col-md-9  ">
          <ul class="list-group p-5 ">
            <!-- <iframe [src]="movei| video"  height="315" frameborder="0" allowfullscreen></iframe> -->
            <li class=""><h2><strong>Title:</strong>{{movei?.original_title}}</h2> </li>
              <li class=""><strong>overview:</strong>{{ movei?.overview }}</li>
              <li class=""><strong>Date:</strong> {{movei?.release_date }}</li>
              <li class=""><strong>original language:</strong> {{ movei?.original_language }}</li>
              <li class=""><strong>vote_count:</strong> {{ movei?.vote_count }}</li>
              <li class=""><strong>vote_average:</strong> {{ movei?.vote_average }}</li>
      <h4 (click)="toggleTrailer()">Watch Trailer <span class="watch-icon"><i class="fas fa-play"></i></span></h4>
      <div *ngIf="showTrailer">
        <iframe [src]="movei| video"  height="315" frameborder="0" allowfullscreen></iframe>
      </div>
     </ul></div>

  </div>

</div>
</div>
