.container
{
  height: 100vh;
}


.container {
  margin-top: 20px;
  color: #ddd;

}

.list-group {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(194, 192, 192, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  list-style: none;
}
h4{
  cursor: pointer;
}
.watch-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  // background-color: #007bff;
  color: #fff;
  cursor: pointer;
    background-color: #565859;
    color: #ffffff;
  }

  .watch-icon:hover {
    opacity: 0.8;
}
.col-md-3 img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.list-group-item {
  border: none;
  background-color: none;
}

.list-group-item strong {
  // color: #007bff;
  font-weight: bold;
}

.list-group-item p {
  margin-bottom: 0;
}

.row {
  margin-bottom: 20px;
}
.fa-backward{
  cursor: pointer;
}
