/* footer.component.css */

.netflix-footer {
  background-color: #111;
  color: #757575;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}
