
<footer class="netflix-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>{{ 'Netflix' | translate }}</h4>
      <ul>
        <li>{{ 'About Us' | translate }}</li>
        <li>{{ 'Contact Us' | translate }}</li>
        <li>{{ 'Careers' | translate }}</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>{{ 'Help Center' | translate }}</h4>
      <ul>
        <li>{{ 'FAQ' | translate }}</li>
        <li>{{ 'Account' | translate }}</li>
        <li>{{ 'Subscriptions' | translate }}</li>
        <li>{{ 'Supported Devices' | translate }}</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>{{ 'Terms of Use' | translate }}</h4>
      <ul>
        <li>{{ 'Privacy Policy' | translate }}</li>
        <li>{{ 'Legal Notices' | translate }}</li>
        <li>{{ 'Cookie Preferences' | translate }}</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>{{ 'Follow Us' | translate }}</h4>
      <ul>
        <li>{{ 'Facebook' | translate }}</li>
        <li>{{ 'Twitter' | translate }}</li>
        <li>{{ 'Instagram' | translate }}</li>
      </ul>
      <div class="footer-section">
        <h4>{{ 'Language' | translate }}</h4>
        <button class="language-btn" type="button" (click)="toggleLanguageAndDirection()">
          <i class="fas fa-language"></i>
        </button>
      </div>
    </div>
  </div>
</footer>

