<header class="bg-main deark-nav sticky top-0 d-flex px-10">
  <!-- logo   -->
  <div class="d-flex pt-2 parnet">
    <img src="/assets\pngwing.com.png" alt=" flex-logo" width="110">
    <ul class="d-flex items-center" *ngFor ="let item of navList">
      <li class="items">{{item}}</li>
    </ul>
   </div>
<!-- welcome user -->
   <div class="welcomeUser ">
    <div class="name">
    <a href="/">welcome <strong>Randa</strong></a>
    <img [src]="userImage" width="42" alt="">
    </div>

    &nbsp;| &nbsp;
    <a href="/">Signout</a>
   </div>
</header>
