
<header class="bg-main">
 <div class="welcomeUser">
    <div [ngClass]="{ open: isOpen }" class="sidebar" >
      <button (click)="toggleSidebar()" class="btn list btn-dark mb-3">
        <i class="fa-solid fa-x icon"></i>
      </button>
      <a [routerLink]="['/home']"
        ><i class="fa-solid fa-tv"></i> Home</a
      >
      <a [routerLink]="['/fav']"
        ><i class="fa-solid fa-star"></i> My List {{ myListCount }}</a
      >
      <a
        ><i class="fa-solid fa-right-to-bracket"></i> About</a
      >
      <a >
        <i class="fa-solid fa-comment"></i> Contact</a
      >
      <a href="/profile"  class="mb-2" >
        <img [src]="profileImage"class="img" alt=""> Profile</a
      >
      <a href="/" class="btn btn-danger  " (click)="signOut()">Signout</a>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container row ">
<!--logo-->
     <a class="navbar-brand col-sm-2 col-lg-2  col-md-2" >
      <button
        class="btn list btn-dark d-block d-sm-none"
        (click)="toggleSidebar()"
      >
        <i class="fa-solid fa-list"><img src="/assets\pngwing.com.png" alt="flex-logo" width="80">
        </i>
      </button>
      <button [routerLink]="['/home']" class="btn list btn-none d-none d-sm-block">
        <img src="/assets\pngwing.com.png" [routerLink]="['/home']" alt="flex-logo" width="100">
      </button>
    </a>
    <div class="nav-list col-lg-6 col-md-6" *ngIf="!isSmallScreen">
      <ul class="d-flex items-center " *ngFor ="let item of navList">
        <!-- <li class="items" [routerLink]="['/', item.toLowerCase().replace(' ', '-')]" >{{ item }}</li> -->

      <li class="items" [routerLink]="['/', item.toLowerCase().replace(' ', '-')]">{{ item }}</li>
      <li class="items" *ngIf="item.toLowerCase() === 'my list'">
        <a routerLink="/my-list">{{ myListCount }}</a>
      </li>  </ul>
    </div>
    <div class="col-sm-5 col-4  d-flex justify-content-end" id="navbarNav">
      <div class="welcomeUser ">
        <div class="name">
          <a >welcome</a>
          <a [routerLink]="['/profile']"  href="/"><strong><span [@fadeIn]="letter.animationDelay" *ngFor="let letter of nameLetters">{{ letter.value }}</span></strong></a>
          <img [src]="profileImage"class="img" alt="">
        </div>

        &nbsp;| &nbsp;
        <a href="/" (click)="signOut()">Signout</a>
       </div>
  </div>
  </div>
</nav>
