.bg-main{
// height: 68px;
z-index: 10;
position: sticky;

}

ul li.items{
  list-style: none;
  color: rgb(252, 252, 252);
  cursor: pointer;
  font-weight: 400;
  font-size: 0.875rem;

  // line-height: 1.25rem;
  }
ul li.items:hover{
  color: #9CA3AF;
transition: 1s;
}
.welcomeUser{
  display: flex;
  align-items: center;
  // gap: 1rem;

}
.name{
  display: flex;
  align-items: center;
  gap: 0.5rem;

}
.welcomeUser a{
  color: rgb(252, 252, 252);
  text-decoration: none;
}

.nav-list {
  display: flex;
  // gap: 1rem;
}


////////////////////
///
nav {
  background-color: #141414;
  color: #f5f5f5;
  border-bottom: #999797 1px solid;
}

.list:hover {
  background-color: #474747;
}
li{
  justify-content: space-between;
  margin-left: 50px;
}
.icon {
  color: #f3f0f0;
}

.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #141414;
  color: white;
  overflow-x: hidden;
  transition: width 0.5s;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: #555;
}

.open {
  width: 200px;
}

.content {
  margin-left: 0;
  transition: margin-left 0.5s;
}

.open2 {
  width: 200px;
}

