.loginPage {
  position: absolute;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/ab180a27-b661-44d7-a6d9-940cb32f2f4a/345ae8b6-2b8b-41cf-b055-244b5980c513/EG-ar-20231009-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
// height:  100vh;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  overflow: hidden;
  margin: 0;
}

.form{
padding: 3rem;
margin-top: 5rem;
margin-bottom: 5rem;
border-radius: 0.5rem;
color: #ffffff;
background-color: #000000;
margin-left: auto;
margin-right: auto;
align-items: center;
--bg-opacity: 0.9;
background-color: rgba(0, 0, 0, var(--bg-opacity));
}

.title{
  padding-top: 1rem;
padding-bottom: 1rem;
font-size: 1.875rem;
line-height: 2.25rem;
font-weight: 700;

}
.bbb{
  background-color: #e50914;
  color: #fcf8f8;
  font-size: large;
}
.example-container mat-form-field + mat-form-field {
  width: 100%;

}

mat-error ,mat-label{
  color: #946811;
}
input{
  border-bottom: #946811 1px solid;

}
a,.col-auto{
  text-decoration: none;
  color: #646262;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}

@media (min-width: 768px) {
  // .form{
  //    width: 25%;
  // }
 }


