<div class="loginPage container-fluid">
  <div class="row justify-content-center">
    <!-- // -->
    <div class="container">
      <div class="row  justify-content-between">
        <div class="col-4  d-flex">
          <img src="/assets/pngwing.com.png" alt="" width="150" class="img">
        </div>
        <div class="col-7 d-flex justify-content-end align-items-center ">
          <div class="">
            <button class="btn btn-light d-inline d-sm-none  " type="button">
              <mat-select>
                <mat-option value="option">En</mat-option>
                <mat-option value="option">Ar</mat-option>
              </mat-select>
          </button>
          <button class="btn language d-none d-sm-inline  " type="button">
            <mat-label>Language🌐</mat-label>
            <mat-select class="custom-select">
              <mat-option value="en">English</mat-option>
              <mat-option value="ar">Arabic</mat-option>
            </mat-select>
        </button>
            <!-- <button class="btn singin mx-1" type="button" [routerLink]="['/']">Sign in</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- // -->
    <div class="form col-lg-4 col-md-6 col-sm-8 col-10">
      <div class="row">
        <h1 class="title">Sign In</h1>
        <div class="example-container col-12 mt-2 mb-2">
          <mat-form-field class="col-12 mt-2 mb-2">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="example-container col-12 mt-2 mb-2">
          <mat-form-field class="col-12 mt-2 mb-2">
            <mat-label>Enter your password</mat-label>
            <input matInput placeholder="Password" [formControl]="password" required minlength="4" maxlength="60">
            <mat-error *ngIf="password.invalid">{{getErrorMessagepass()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="example-container col-12 mt-2 mb-2">
          <button class="col-12 mt-2 mb-2 btn bbb pl-2 px-2"(click)="signIn()"  > sign in
          </button>
        </div>
        <div class="row mt-2 mb-2 justify-content-between">
          <div class="col-auto">
            <input type="checkbox" />
            <span class="mx-1">Remember me</span>
          </div>
          <div class="col-auto">
            <a href="">Need help?</a>
          </div>
        </div>
       <span class="col-auto">New to Netflix? <a href="register" class="text-light"> Sign up now.</a> or <button class="btn mx-1 "id="google-btn"  type="button" >
        <i class="fas fa-arrow-right ml-2"></i>
   </button>
      </span>
      </div>
    </div>
  </div>
</div>
