<div class="loginPage ">
  <div class="">
    <div class="form col-12">
      <div class="row justify-content-between">
      <div class="container">
        <div class="row  justify-content-between">
          <div class="col-4  d-flex">
            <img src="/assets/pngwing.com.png" alt="" width="150" class="img">
          </div>
          <div class="col-7 d-flex justify-content-end align-items-center ">
            <div class="">
              <button class="btn btn-light d-inline d-sm-none  " type="button">
                <mat-select>
                  <mat-option value="option"
                  (click)="toggleLanguageAndDirection()">En</mat-option>
                  <mat-option value="option" (click)="toggleLanguageAndDirection()">Ar</mat-option>
                </mat-select>
            </button>
            <button class="btn btn-light d-none d-sm-inline  " type="button">
              <mat-select>
                <mat-option value="option" (click)="toggleLanguageAndDirection()">En</mat-option>
                <mat-option value="option" (click)="toggleLanguageAndDirection()">Ar</mat-option>
              </mat-select>
          </button>
          <!-- <div class="footer-section">
            <h4>{{ 'Language' | translate }}</h4>
            <button class="language-btn" type="button" (click)="toggleLanguageAndDirection()">
              <i class="fas fa-language"></i>
            </button>
          </div> -->
              <button class="btn singin mx-1" type="button" [routerLink]="['/']">{{ 'sign_in' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-4 ">
        <h1 class="title "> {{ 'Unlimited movies, TV shows, and more' | translate }} </h1>
        <h3>{{ 'Watch anywhere. Cancel anytime.' | translate }}</h3>
        <p>{{ 'Ready to watch? Enter your email to create or restart your membership.' | translate }}</p>
        <div class="example-container col-12  align-items-center">
          <mat-form-field class="col-lg-4" >
            <mat-label > {{ 'Enter your email' | translate }}</mat-label>
            <input matInput placeholder="{{ 'email_placeholder' | translate }}" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{ 'email_error' | translate }}</mat-error>
          </mat-form-field>

        </div>
        <div class="example-container col-12  align-items-center mb-2">
        <button class="btn singin2 mx-1 " type="button"  (click)="signIn()" >{{ 'Get Started' | translate }}
                 <i class="fas fa-arrow-right ml-2"></i>
            </button>
          </div>
       <span class="col-auto"> {{ 'or Sign in with google' | translate }} <i class="fas fa-arrow-right ml-2"></i> <button class="btn mx-1 "id="google-btn"  type="button" >
   </button>

      </span>
      </div>
      </div>
      </div>
    </div>
  </div>

