<div class="loginPage ">
  <div class="">
    <div class="form col-12">
      <div class="row justify-content-between">
      <div class="container">
        <div class="row  justify-content-between">
          <div class="col-4  d-flex">
            <img src="/assets/pngwing.com.png" alt="" width="150" class="img">
          </div>
          <div class="col-7 d-flex justify-content-end align-items-center ">
            <div class="">
              <button class="btn btn-light d-inline d-sm-none  " type="button">  
                <mat-select>        
                  <mat-option value="option">En</mat-option>
                  <mat-option value="option">Ar</mat-option>
                </mat-select>
            </button>
            <button class="btn btn-light d-none d-sm-inline  " type="button">  
              <mat-select>        
                <mat-option value="option">En</mat-option>
                <mat-option value="option">Ar</mat-option>
              </mat-select>
          </button>
              <button class="btn singin mx-1" type="button" [routerLink]="['/']">Sign in</button>
            </div>
          </div>
        </div>
      </div>  
      <div class="text-center mt-4 ">
        <h1 class="title ">Unlimited movies, TV shows, and more </h1>
        <h3>Watch anywhere. Cancel anytime.</h3>
        <p>Ready to watch? Enter your email to create or restart your membership.</p>
        <div class="example-container col-12  align-items-center">
          <mat-form-field class="col-lg-4" >
            <mat-label >Enter your email</mat-label>
            <input  matInput placeholder="pat@example.com" [formControl]="email" required>
            @if (email.invalid) {
              <mat-error>{{getErrorMessage()}}</mat-error>
            }
          </mat-form-field>
            
        </div>
        <div class="example-container col-12  align-items-center mb-2">
        <button class="btn singin2 mx-1 " type="button"  (click)="signIn()" >Get Started 
                 <i class="fas fa-arrow-right ml-2"></i> 
            </button>
          </div>
       <span class="col-auto"> or Sign in with google <i class="fas fa-arrow-right ml-2"></i> <button class="btn mx-1 "id="google-btn"  type="button" >
   </button>

      </span>
      </div>
      </div>
      </div>
    </div>
  </div>

