.loginPage {
  position: absolute;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/ab180a27-b661-44d7-a6d9-940cb32f2f4a/345ae8b6-2b8b-41cf-b055-244b5980c513/EG-ar-20231009-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  overflow: hidden;
  margin: 0;
  height:100%;

}

.form{
padding: 2rem;
height:  100vh;
color: #ffffff;
background-color: #000000;
margin-left: auto;
margin-right: auto;
--bg-opacity: 0.8;
background-color: rgba(0, 0, 0, var(--bg-opacity));
}

.title{
padding-top: 1rem;
padding-bottom: 1rem;
font-size: 1.875rem;
line-height: 2.25rem;
font-weight: 700;

}
 .singin {
  color: white;
  background-color: #e50914;
}
.singin2 {
  color: white;
  background-color: #e50914;
  padding: 5px 20px;
  align-items: center;
}
input{
  border-bottom: #946811 1px solid;

}
a,.col-auto{
  text-decoration: none;
  color: #d2d1d1;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}

.language{
  // --bg-opacity: 0.5;
  // background-color: rgba(0, 0, 0, var(--bg-opacity));
  background-color: #d1cccc;
  color: #ffffff;
}
