<div class="row">
<iframe width="560" height="315"  [src]="videoUrl" frameborder="0" allowfullscreen></iframe>

<div class="caption row">
  <div class="titleOfVideo col-lg-12 col-md-12 col-sm-12">
    <h1 class="name">{{bannerTitle}} </h1>
    <p class="description">{{bannerOverview |description:200}}</p>
       <div class="col-4 col-sm-4">
        <button class="btnPlay">
          ▶️ Play
        </button>
        <button class="btnMore">
          More Info
        </button>
      </div>
    </div>
</div>
</div>
<!-- The Vampire diariesLorem ipsum dolor sit amet
       consectetur adipisicing elit. Dolores quisquam ipsum dicta cupiditate accusantium voluptate
        tempore quas! Accusamus quos cumque
       voluptatum culpa rem minus sunt autem. Repellendus iste illo sequi? -->
