
<app-header [userImage]="userProfileImg"/>
<div class="favorites-container">
  <h2 class="favorites-heading">My Favorites</h2>

  <div *ngIf="favorites.length === 0; else hasFavorites" class="no-favorites">
    <p>No favorites yet.</p>
  </div>

  <ng-template #hasFavorites>
    <div class="favorites-list">
      <div *ngFor="let movie of favorites" class="favorite-item">
        <img [src]="movie.poster_path | img" alt="{{ movie.title }}" class="poster-image" />
        <p class="movie-title">{{ movie.title }}</p>
        <p class="parag text-xs">
          <button [routerLink]="['/details',movie.id]" class="btndetails"> details</button>
         <a (click)="toggleFavorite(movie)" class="remove-favorite-button">
          <i class="fa fa-trash"></i>         </a>
         </p>
      </div>
    </div>
  </ng-template>
</div>
<app-footer/>
