
.favorites-container {
  margin: 0 auto;
  padding: 20px;
}

.favorites-heading {
  font-size: 24px;
  color: #fff;
}

.no-favorites {
  text-align: center;
  margin-top: 20px;
  color: #fff;
  height: 200px;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.body{
  padding: 10px;
}
.favorite-item {
  margin: 10px;
  // width: 400px;
  // height: 400px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.favorite-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.poster-image {
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie-details {
  padding: 15px;
}

.movie-title {
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
}

.movie-overview {
  font-size: 14px;
  color: #ddd;
  margin-top: 10px;
}

.movie-language {
  font-size: 14px;
  color: #646262;
  margin-top: 5px;
}
.remove-favorite-button {
  background-color: rgb(216, 77, 77);
  // color: #b15200;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btndetails {
  background-color: #838485;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #565859;
}
.parag{
  line-height: 1rem;
  display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .example-card {
    max-width: 400px;
    background-color: #333;
    color: #fff;
  }
  .example-card {
    position: relative;
  }

  .remove-container {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
  }

