<app-header [userImage]="userProfileImg"/>
<!-- component -->
<div class="main mb-5 mt-5">
  <div class="content">
      <div class="content-inside ">
          <div class="photo">
              <img class="img" [src]="profileImage" alt="John Doe">
          </div>
          <div class="p-2">
              <h3 class="name">{{name}}</h3>
              <div class="job">
                  <p>Web Developer</p>
              </div>
              <table class="table">
                  <tbody><tr>
                      <td class="address">Address</td>
                      <td class="street">Chatakpur-3, Dhangadhi Kailali</td>
                  </tr>
                  <tr>
                      <td class="phone">Phone</td>
                      <td class="number">+977 9955221114</td>
                  </tr>
                  <tr>
                      <td class="email">Email</td>
                      <td class="number">{{email}}</td>
                  </tr>
              </tbody></table>

              <div class="signout">
                  <a class="anchor" href="#" (click)="signOut()">Sign Out</a>
              </div>

          </div>
      </div>
  </div>
  </div>
<app-footer/>
