<div class="loading-container" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate" color="warn" diameter="60"></mat-progress-spinner>
</div>


<div *ngIf="!isLoading">
  <app-header [userImage]="userProfileImg"/>
  <app-banner [bannerTitle]="(bannerDetail$ | async)?.original_title"
              [bannerOverview]="(bannerDetail$ | async)?.overview"
              [key]="(bannerVideo$ | async)?.results[0].key" />

              <app-movie-caruosel [title]="'Popular on Netflix' | translate" [videoContents]="movies" />
              <app-movie-caruosel [title]="'Trending TV shows' | translate" [videoContents]="tvShows" />
              <app-movie-caruosel [title]="'Now Playing Movies' | translate" [videoContents]="nowPlayingMovies" />
              <app-movie-caruosel [title]="'Popular Movies' | translate" [videoContents]="popularMovies" />
              <app-movie-caruosel [title]="'Top Rated Movies' | translate" [videoContents]="topRatedMovies" />
              <app-movie-caruosel [title]="'Upcoming Movies' | translate" [videoContents]="upcomingMovies" />


  <app-footer/>
</div>
