.loading-container {
  display: grid;
  place-items: center;
  height: 100vh;
}
/* Your existing styles */

/* Scroll to top button styles */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #b51717;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: none;
}
